<custom-header></custom-header>
<div>
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
        <h1>Orders</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Book name</th>
                <th>Book author</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in orders">
                <td>{{x.user.firstName}}</td>
                <td>{{x.user.lastName}}</td>
                <td>{{x.user.email}}</td>
                <td>{{x.book.name}}</td>
                <td>{{x.book.author.name}}</td>
            </tr>
            </tbody>
        </table>
        <ul ng-repeat="i in range() track by $index" class="pagination">
            <li ng-class="{active: isActive($index)}"><a ng-click="getPage($index)">{{$index + 1}}</a></li>
        </ul>
    </div>
</div>